# To learn more about .editorconfig see https://aka.ms/editorconfigdocs
############################### 
# Core EditorConfig Options   # 
############################### 

# All files 
[*]
indent_style = space
insert_final_newline = true
charset = utf-8

# Project files
[*.{csproj,props,targets}]
indent_size = 2

# Code files 
[*.{cs}]
indent_size = 4
